@model List<UserRoleViewModel>
@{
    var roleId = ViewBag.RoleId;
}

<div class="card mt-3">
    <div class="card-header">
        <h3>Add or remove from the role</h3>
    </div>
    <form asp-action="EditUsersInRole" asp-controller="Administration" method="post">
    <div class="card-body">

            @for (int i = 0; i < Model.Count; i++)
            {
                 <div class="form-check mt-1">
                     <input asp-for="@Model[i].UserId" type="hidden"/>
                     <input asp-for="@Model[i].UserName" type="hidden"/>
                     <input type="checkbox" class="form-check-inline" asp-for="@Model[i].IsSelected" />
                    <label class="form-check-label" asp-for="@Model[i].IsSelected">@Model[i].UserName</label>
                 </div> 
            }
        

    </div>
    <div class="card-footer">
            <button type="submit" class="btn btn-success text-white">Update</button>
             <a class="btn btn-danger text-white" asp-action="ListRoles" asp-controller="Administration">Cancel</a>

    </div>
    </form>
</div>
